{% extends 'base.html' %}
{% load static %}

{%block title %} KIMI SARL - Blog Details {% endblock %}

{% block central %}
<!-- SINGLE POST
			============================================= -->
			<section id="single-post" class="pb-90 inner-page-hero blog-page-section">
				<div class="container">
				 	<div class="row justify-content-center">	


				 		<!-- SINGLE POST CONTENT -->
				 		<div class="col-xl-10">
				 			<div class="post-content">


						 		<!--  SINGLE POST TITLE -->
				 				<div class="single-post-title text-center">

				 					<!-- Post Tag -->
									<span class="post-tag color--{{ current_one.categorie.couleur }}-400">{{current_one.categorie}}</span>	

				 					<!-- Title -->
					 				<h2 class="s-46 w-700">{{current_one.title}}</h2>

					 				<!-- Post Meta -->
									<div class="blog-post-meta mt-35">
										<ul class="post-meta-list ico-10">
											<li><p class="p-md w-500">Par {{ current_one.author }}</p></li>
											<li class="meta-list-divider"><p><span class="flaticon-minus"></span></p></li>
											<li><p class="p-md">{{ current_one.date_posted | date:'d M Y' }}</p></li>
										</ul>
									</div>

								</div>	<!-- END SINGLE POST TITLE -->


								<!-- SINGLE POST IMAGE -->
					 			<div class="blog-post-img py-50">
									{% for image in current_one.itemimage_set.all %}
										{% if forloop.counter == 1 %}
									<img class="img-fluid r-16" src="{{ image.image.url }}" alt="blog-post-image">
										{% endif %}
									{% endfor %}	
								</div>


								<!-- SINGLE POST TEXT -->
								<div class="single-post-txt">

									{{ current_one.content }}

								</div>	<!-- END SINGLE POST TEXT -->


								<!-- SINGLE POST SHARE LINKS -->
								<div class="row">
									<div class="col post-share-list">
										<ul class="share-social-icons ico-20 text-center clearfix">						
											<li><a href="#" class="share-ico"><span class="flaticon-twitter"></span></a></li>
											<li><a href="#" class="share-ico"><span class="flaticon-facebook"></span></a></li>
											<li><a href="#" class="share-ico"><span class="flaticon-bookmark"></span></a></li>
										</ul>
									</div>
								</div>	<!-- END SINGLE POST SHARE -->

								<!-- POST COMMENTS -->
								<div class="post-comments">
									<div class="comments-wrapper">

										<!-- Title -->	
										<h5 class="s-24 w-700">4 Comments</h5>

										<!-- COMMENT #1 -->
										<div class="comment d-flex">

											<!-- Comment-1 Avatar -->
										  	<img src="{% static 'images/comment-author-1.jpg' %}" alt="comment-avatar">

										  	<!-- Comment-Body -->
										  	<div class="comment-body">

										  		<!-- Comment-1 Meta -->
										 		<div class="comment-meta">
										 			<h6 class="s-17 w-700">Jack H.</h6>						
											   		<span class="comment-date">2 days ago&#8194;- </span>
													<span class="btn-reply ico-20">
														<a href="#leave-comment"><span class="flaticon-reply-arrow"></span> Reply</a>
													</span>
												</div>
												
												<!-- Comment-1 Text -->	
										   		<p class="mb-40">Ratione mollis undo risus aenean arcu lectus rutrum porta 
										   		   primis and puruss augue luctus neque purus and ipsum neque dolor primis 
										   		   libero tempus eget tempor ligula posuere varius impedit enim tempor vitae
										   		   pulvinar at congue egestas vitae augue
										   		</p>

										   		<hr>

										   		
										  	</div>


										</div>	<!-- END COMMENT #1 -->	


										<hr>	



										<!-- COMMENT FORM -->
										<div id="leave-comment">
											
											<!-- Title -->
											<h5 class="s-24 w-700">Laisser un Commentaire</h5>
											
											<!-- Text -->
											<p>Votre E-mail ne sera pas rendu public. Les champs obligatoire sont marque *</p>

											<form name="commentform" method="post" action="{% url 'blog:detail-post' current_one.id %}">
													{% csrf_token %}
												<div class="col-md-12 input-message">
								                	<p class="black--color">Ajouter commentaire <span>*</span></p>
								                	<textarea class="form-control message" name="message" rows="6" placeholder="Entrer votre Commentaire ici* ..." required></textarea>
								                </div> 
						                                            
								                <div class="col-md-12">
								                	<p class="black--color">Nom <span>*</span></p>
								                	<input type="text" name="name" class="form-control name" placeholder="Entrer votre Nom*" required> 
								                </div>
								                        
								                <div class="col-md-12">
								                	<p class="black--color">Email <span>*</span></p>
								                	<input type="email" name="email" class="form-control email" placeholder="Entrer votre Email*" required> 
								                </div>
								                                 
								                <!-- Contact Form Button -->
								                <div class="col-lg-12 form-btn"> 						                 
								                	<button type="submit" class="btn btn--theme hover--theme submit">
								                	   Poster
								                	</button> 
								                </div>
								                                                              
								                <!-- Contact Form Message -->
								                <div class="col-md-12 comment-form-msg text-center">
								                	<div class="sending-msg"><span class="loading"></span></div>
								                </div>  
							                                              
							                </form>									
										
										</div>	<!-- END COMMENT FORM -->


									</div>
								</div>	<!-- END POST COMMENTS -->


							</div>
						</div>	<!-- END  SINGLE POST CONTENT -->


				 	</div>    <!-- End row -->
				</div>    <!-- End container -->
			</section>	<!-- END SINGLE POST -->




			<!-- BLOG-1
			============================================= -->
			<section id="blog-1" class="bg--white-300 py-100 blog-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title mb-70">	

								<!-- Title -->	
								<h2 class="s-50 w-700">Nos recommandations...</h2>	
									
							</div>	
						</div>
					</div>


					<div class="row">

						{% for post in other_posts %}
						<!-- BLOG POST #1 -->
				 		<div class="col-md-6 col-lg-4">
				 			<div id="bp-1-1" class="blog-post wow fadeInUp">	

				 				<!-- BLOG POST IMAGE -->
				 				<div class="blog-post-img mb-35">
									{% for image in post.itemimage_set.all %}
										{% if forloop.first %}
											<img class="img-fluid r-16" src="{{ image.image.url }}" alt="blog-post-image">
										{% endif %}
									{% endfor %}
								</div>	

								<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Tag -->
									<span class="post-tag color--{{ post.categorie.couleur }}-400">{{ post.categorie }}</span>	

									<!-- Post Link -->
									<h6 class="s-20 w-700">
										<a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
									</h6>

									<!-- Text -->
									<p>{{ post.content | truncatechars:30 }}
									</p>

									<!-- Post Meta -->
									<div class="blog-post-meta mt-20">
										<ul class="post-meta-list ico-10">
											<li><p class="p-sm w-500">Par {{ post.author }}</p></li>
											<li class="meta-list-divider"><p><span class="flaticon-minus"></span></p></li>
											<li><p class="p-sm">{{ post.date_posted | date:'d M Y' }}</p></li>
										</ul>
									</div>

								</div>	<!-- END BLOG POST TEXT -->

				 			</div>
				 		</div>	<!-- END BLOG POST #1 -->
						{% endfor %}
				
				 	</div>    <!-- End row -->
				 </div>    <!-- End container -->
			</section>	<!-- END BLOG-1 -->





{% endblock %}