{% load static  %}
<!DOCTYPE html>
<html>

{% block style %}
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="author" content="Kimi Sarl" />
	<meta name="description" content="Kimi Sarl - C'est dans la question que ce trouvent les réponses" />
	<meta name="keywords"
		content="Responsive, HTML5, Kimi sarl, Landing, Software, Mobile App, Startup, Creative, Digital Product" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<!-- SITE TITLE -->
	<title>{% block title %}  {% endblock %}</title>

	<!-- FAVICON AND TOUCH ICONS -->
	<link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />
	<link rel="apple-touch-icon" sizes="152x152" href="{% static 'images/favicon.png' %}" />
	<link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/favicon.png' %}" />
	<link rel="apple-touch-icon" sizes="76x76" href="{% static 'images/favicon.png' %}" />
	<link rel="apple-touch-icon" href="{% static 'images/favicon.png' %}" />
	<link rel="icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" />

	<!-- GOOGLE FONTS -->
	 <!-- <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700&amp;display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700&amp;display=swap"
		rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&amp;display=swap"
		rel="stylesheet" />  -->
		<link href="https://fonts.cdnfonts.com/css/selino" rel="stylesheet">
                

	<!-- BOOTSTRAP CSS -->
	<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- FONT ICONS -->
	<link href="{% static 'css/flaticon.css' %}" rel="stylesheet" />

	<!-- PLUGINS STYLESHEET -->
	<link href="{% static 'css/menu.css' %}" rel="stylesheet" />
	<link id="effect" href="{% static 'css/dropdown-effects/fade-down.css' %}" media="all" rel="stylesheet" />
	<link href="{% static 'css/magnific-popup.css' %}" rel="stylesheet" />
	<link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/owl.theme.default.min.css' %}" rel="stylesheet" />
	<link href="{% static 'css/lunar.css' %}" rel="stylesheet" />

	<!-- ON SCROLL ANIMATION -->
	<link href="{% static 'css/animate.css' %}" rel="stylesheet" />

	<!-- TEMPLATE CSS -->
	<link href="{% static 'css/pink-theme.css' %}" rel="stylesheet" />

	<!-- Style Switcher CSS -->


	<!-- RESPONSIVE CSS -->
	<link href="{% static 'css/responsive.css' %}" rel="stylesheet" />
</head>
{% endblock %}

{% block header %}
<body>
	<!-- PRELOADER SPINNER
		============================================= -->
<!--	<div id="loading" class="loading&#45;&#45;theme">-->
<!--		<div id="loading-center"><span class="loader"></span></div>-->
<!--	</div>-->


	<!-- PAGE CONTENT
		============================================= -->
	<div id="page" class="page font--jakarta">
		<!-- HEADER
			============================================= -->
		<header id="header" class="tra-menu navbar-dark white-scroll">
			<div class="header-wrapper">

					<!-- MOBILE HEADER -->
				    <div class="wsmobileheader clearfix">
				    	<span class="smllogo"><img src="{% static 'images/Kimi(SVG).svg' %}" alt="mobile-logo"></span>
				    	<a id="wsnavtoggle" class="wsanimated-arrow"><span></span></a>
				 	</div>


				 	<!-- NAVIGATION MENU -->
				  	<div class="wsmainfull menu clearfix scroll">
	    				<div class="wsmainwp clearfix">


	    					<!-- HEADER BLACK LOGO -->
	    					<div class="desktoplogo">
	    						<a href="/" class="logo-black">
	    							<img class="dark-theme-img" src="{% static 'images/Kimi(SVG).svg'  %}" style="height: 40px; width: 164px !important; left: 0px !important; top: 16.5px !important;" alt="logo">
	    						</a>
	    					</div>

							<!-- HEADER WHITE LOGO -->
	    					<div class="desktoplogo">
	    						<a href="/" class="logo-white"><img src="{% static 'images/Kimi(SVG)White.svg' %}" alt="logo"></a>
	    					</div>


						<!-- MAIN MENU -->
						<nav class="wsmenu clearfix">
							<ul class="wsmenu-list nav-theme">
								<!-- DROPDOWN SUB MENU -->
								<li aria-haspopup="true">
									<a href="#" class="h-link">A Propos <span class="wsarrow"></span></a>
									<ul class="sub-menu">
										<li aria-haspopup="true">
											<a href="{% url 'services:about' %}">Qui sommes nous?</a>
										</li>
										<!-- <li aria-haspopup="true">
											<a href="#lnk-2">Nos Solutions</a>
										</li> -->
									</ul>
								</li>

								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true">
									<a href="{% url 'services:services' %}" class="h-link">Nos Services</a>
								</li>

								<!-- SIMPLE NAVIGATION LINK -->
								<li class="nl-simple" aria-haspopup="true">
									<a href="{% url 'blog:Home' %}" class="h-link">Blog</a>
								</li>

								<!-- SIMPLE NAVIGATION LINK -->
								<!-- <li class="nl-simple" aria-haspopup="true">
									<a href="" class="h-link">FAQs</a>
								</li> -->



								<!-- Contact BUTTON -->
								<li class="nl-simple" aria-haspopup="true">
									<a href="{% url 'services:contact' %}" class="btn r-04 btn--theme hover--tra-black last-link">Nous Contacter</a>
								</li>
							</ul>
						</nav>
						<!-- END MAIN MENU -->
					</div>
				</div>
				<!-- END NAVIGATION MENU -->
			</div>
			<!-- End header-wrapper -->
		</header>
		<!-- END HEADER -->

		{% endblock %}

{% block central %} {% endblock %}


		
{% block footer %}
		<!-- FOOTER-3
			============================================= -->
			<footer id="footer-3" class="pt-100 footer ft-3-ntr">
				<div class="container">


					<!-- FOOTER CONTENT -->
					<div class="row">


						<!-- FOOTER LOGO -->
						<div class="col-xl-3">
							<div class="footer-info">
								<img class="footer-logo" src="{% static 'images/Kimi(SVG)White.svg' %}" alt="footer-logo">
								<img class="footer-logo-dark" src="{% static 'images/Kimi(SVG)White.svg' %}" alt="footer-logo">
							</div>	
						</div>	


						<!-- FOOTER LINKS -->
						<div class="col-sm-4 col-lg-3 col-xl-2">
							<div class="footer-links fl-1">
							
								<!-- Title -->
								<h6 class="s-17 w-700">Company</h6>

								<!-- Links -->
								<ul class="foo-links clearfix">
									<li><p><a href="{% url 'services:about' %}">A Propos De Nous</a></p></li>
									<li><p><a href="{% url 'blog:Home' %}">Blog</a></p></li>						
									<li><p><a href="{% url 'services:contact' %}">Contact</a></p></li>	
									<li><p><a href="{% url 'services:services' %}">Services</a></p></li>			
								</ul>

							</div>
						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER LINKS -->
						<div class="col-sm-8 col-lg-4">
							<div class="footer-links fl-2">
												
								<!-- Title -->
								<h6 class="s-17 w-700 text-center">Localisation</h6><!-- Links -->

							</div>	
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1267.1408624601474!2d11.529169283375685!3d3.8027865330009067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x108bdb7b053e9b3f%3A0x8b9c4860f3c2390a!2sARINTECH%20CAMEROON!5e0!3m2!1sen!2scm!4v1710344141951!5m2!1sen!2scm" width="350" height="200" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

						</div>	<!-- END FOOTER LINKS -->	


						<!-- FOOTER NEWSLETTER FORM -->
						<div class="col-sm-10 col-md-8 col-lg-4 col-xl-3">
							<div class="footer-form">

								<!-- Title -->
								<h6 class="s-17 w-700">Nous suivre</h6>

								<!-- Newsletter Form Input -->
								<form  method="post" action="{% url 'services:Home' %}">
										{% csrf_token %}	
									<div class="input-group r-06" style="background-color: white;">
										<input type="email" name="email" class="form-control" placeholder="Email Address" required id="s-email" >								
										<span class="input-group-btn ico-15">
											<button type="submit" class="btn color--theme">
												<span class="flaticon-right-arrow-1"></span>
											</button>
										</span>
									</div>

									<!-- Newsletter Form Notification -->		
									<label for="s-email" class="form-notification"></label>
												
								</form>
														
							</div>	
						</div>	<!-- END FOOTER NEWSLETTER FORM -->


					</div>	<!-- END FOOTER CONTENT -->


					<hr>	<!-- FOOTER DIVIDER LINE -->


					<!-- BOTTOM FOOTER -->
					<div class="bottom-footer">
						<div class="row row-cols-1 row-cols-md-2 d-flex align-items-center">


							<!-- FOOTER COPYRIGHT -->
							<div class="col">
								<div class="footer-copyright">
									<p class="p-sm">&copy; 2024 KIMI SARL. <span>All Rights Reserved</span></p>
								</div>
							</div>


							<!-- FOOTER SOCIALS -->
							<div class="col">
								<ul class="bottom-footer-socials ico-20 text-end">
									<li><a href=""><span class="flaticon-facebook"></span></a></li>
									<li><a href="#"><span class="flaticon-twitter"></span></a></li>
									<li><a href="#"><span class="flaticon-instagram"></span></a></li>
								</ul>
							</div>


						</div>  <!-- End row -->
					</div>	<!-- END BOTTOM FOOTER -->


				</div>     <!-- End container -->	
			</footer>   <!-- END FOOTER-3 -->
	</div>
	<!-- END PAGE CONTENT -->
{% endblock %}

{% block script %}
	<!-- EXTERNAL SCRIPTS
		============================================= -->
	<script src="{% static 'js/jquery-3.7.0.min.js' %}"></script>
	<script src="{% static 'js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/modernizr.custom.js' %}"></script>
	<script src="{% static 'js/jquery.easing.js' %}"></script>
	<script src="{% static 'js/jquery.appear.js' %}"></script>
	<script src="{% static 'js/menu.js' %}"></script>
	<script src="{% static 'js/owl.carousel.min.js' %}"></script>
	<script src="{% static 'js/pricing-toggle.js' %}"></script>
	<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
	<script src="{% static 'js/request-form.js' %}"></script>
	<script src="{% static 'js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
	<script src="{% static 'js/popper.min.js' %}"></script>
	<script src="{% static 'js/lunar.js' %}"></script>
	<script src="{% static 'js/wow.js' %}"></script>

	<!-- Custom Script -->
	<script src="{% static 'js/custom.js' %}"></script>

	<script>
		$(document).on({
			contextmenu: function (e) {
				console.log("ctx menu button:", e.which);

				// Stop the context menu
				e.preventDefault();
			},
			mousedown: function (e) {
				console.log("normal mouse down:", e.which);
			},
			mouseup: function (e) {
				console.log("normal mouse up:", e.which);
			},
		});

		
	</script>


	<script src="{% static 'js/changer.js' %}"></script>
	<script defer src="{% static 'js/styleswitch.js' %}"></script>
	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
	<div class="elfsight-app-32f29d8a-bd11-472d-b4d7-38702d60654e" data-elfsight-app-lazy></div>

	<script src="https://static.elfsight.com/platform/platform.js" data-use-service-core defer></script>
	<div class="elfsight-app-574a3846-3b8e-41ee-aace-6d2e2574502f" data-elfsight-app-lazy></div>
</body>

</html>
{% endblock %}