{% extends 'base.html' %}
{% load static %}

{%block title %} KIMI SARL - A propos de nous {% endblock %}

{% block central %}
<!-- ABOUT-2
			============================================= -->
			<section id="about-2" class="rel inner-page-hero about-section division">


				<!-- ABOUT-2 TITLE -->
				<div class="container">
					<div class="row">
						<div class="col-md-11 col-lg-10 col-xl-9">
							<div class="about-2-title mb-60">

								<!-- Title -->
								<h2 class="s-52 w-700 mb-30">Bienvenue chez KIMI SARL, </h2>

								<!-- Text -->	
								<p class="mb-0">
									entreprise qui se veut être leader dans le domaine des services informatiques crée en 2021. 
									Notre histoire est celle d'une passion pour l'innovation technologique et d'un engagement 
									envers l'excellence opérationnelle. Nous sommes fiers de fournir des solutions informatiques 
									de pointe à nos clients à travers une approche axée sur la collaboration, la flexibilité et 
									la qualité.

									<br>
									<br>

									Au cœur de notre entreprise se trouve une équipe diversifiée de professionnels talentueux, 
									passionnés par la création de solutions technologiques exceptionnelles. Notre culture d'entreprise 
									favorise l'innovation, la créativité et l'esprit d'équipe, permettant à nos membres de s'épanouir et
									 d'apporter leur meilleure contribution à chaque projet.

								</p>

							</div>
						</div>
					</div>
				</div>	  <!-- END ABOUT-2 TITLE -->	

			</section>	<!-- END ABOUT-2 -->




			<!-- ABOUT-3
			============================================= -->
			<div id="about-3" class="pt-100 about-section division">
				<div class="container">
					<div class="row">	


						<!-- ABOUT-3 TEXT -->
						<div class="col-md-6">
							<div id="a3-1" class="txt-block">	

								<!-- Title -->
								<h5 class="s-24 w-700 mb-20">Nos Objectifs</h5>

								<!-- Text -->	
								<p>
									Notre objectif est de  contribuer
									au développement de l’économie
									numérique du Cameroun et de la
									sous-région en nous positionnant en
									tant que facilitateur de vie. Nous nous
									engageons à fournir des solutions
									numériques innovantes qui simplifient et améliorent le quotidien des
									individus et des entreprises.
									<br>
									Nous cherchons à intégrer
									le digital dans le développement
									socio-économique, culturel, environnemental et humanitaire. Nous
									croyons fermement que les technologies numériques peuvent apporter
									des avantages significatifs dans tous
									les aspects de la société.
								</p>

									
							</div>	
						</div>	<!-- END ABOUT-3 TEXT -->


						<!-- ABOUT-3 TEXT -->
						<div class="col-md-6">
							<div id="a3-2" class="txt-block">	

								<!-- Title -->
								<h5 class="s-24 w-700 mb-20">Notre Vision</h5>

								<!-- Text -->	
								<p>Notre vision est de devenir le princi-
									pal fournisseur de solutions numé-
									riques pour les organismes
									gouvernementaux, les organisations
									non gouvernementales et de
									nombreuses entreprises à travers le
									monde. En outre, nous cherchons
									à consolider, d’ici 2030, des milliers
									d’activités à travers l’Afrique grâce à
									nos solutions grand public.
								</p>

							</div>	
						</div>	<!-- END ABOUT-3 TEXT -->


					</div>    <!-- End row -->	
				</div>	   <!-- End container -->	
			</div>	<!-- END ABOUT-3 -->




			
            <!-- FEATURES-11
			============================================= -->
			<section id="features-11" class="py-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-12 col-lg-12">
							<div class="section-title mb-70">

								<!-- Title -->	
								<h2 class="s-50 w-700">Methodologie</h2>	

								<!-- Text -->	
								<p class="s-21 color--grey">L'efficacité opérationnelle et la qualité des services 
									informatiques reposent sur une méthodologie de travail rigoureuse et bien définie.
									 Pour les entreprises de prestation de services informatiques, la méthodologie de 
									 travail est la pierre angulaire qui garantit la réussite des projets, la satisfaction
									  des clients et le respect des normes de qualité. Dans ce contexte, une méthodologie 
									  bien élaborée assure la mise en œuvre efficace des solutions informatiques sur mesure,
									   tout en répondant aux besoins spécifiques de chaque client. Voici une approche générale
									    de la méthodologie de travail de KIMI SARL :
								</p>
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-11 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-1 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphics color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Compréhension approfondie des besoins du client </h6>
										<p>Avant de commencer tout projet, KIMI SARL consacre du temps à comprendre les besoins spécifiques du client. Cela implique des discussions approfondies, des analyses de cas d'utilisation et une évaluation approfondie des environnements informatiques existants.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-2 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-idea color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Proposition sur mesure: </h6>
										<p>Sur la base de la compréhension des besoins du client, l'entreprise élabore
											 une proposition détaillée pour des solutions sur mesure. Cela pourrait inclure
											la conception de systèmes informatiques, le développement de logiciels sur mesure, 
											des services de sécurité informatique, ou d'autres prestations adaptées aux besoins 
											spécifiques du client.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-3 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphic color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Planification minutieuse</h6>
										<p>Une fois la proposition acceptée, l'entreprise élabore un plan détaillé pour la mise en œuvre du projet. Cela comprend la définition des étapes, des délais, des ressources nécessaires et des indicateurs de performance clés.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-4 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-wireframe color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Développement et mise en œuvre</h6>
										<p>Le travail réel commence avec le développement des solutions informatiques convenues. Le respect des normes de qualité, des bonnes pratiques de développement de logiciels et des échéanciers est crucial à cette étape.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #4 -->	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-5 wow fadeInUp">

									<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-trophy color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Test et assurance qualité</h6>
										<p>Avant de livrer le produit final ou de déployer la solution, un processus 
											de test approfondi et d'assurance qualité est effectué pour s'assurer que 
											tout fonctionne comme prévu et qu'il n'y a pas de bugs ou d'erreurs majeures.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #5 -->	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-6 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-search-engine-1 color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Formation et support continu</h6>
										<p>Lors de la mise en œuvre, l'entreprise peut fournir une formation 
											et un accompagnement pour assurer que les utilisateurs finaux sont
											 à l'aise avec les nouvelles solutions mises en place.
											 Une fois le projet achevé, l'entreprise fournira un soutien continu,
											  la maintenance des systèmes et des solutions mises en place, ainsi 
											  que des recommandations pour les mises à jour futures ou les améliorations
											   possibles.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #6 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-11 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-11 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">




			<!-- BRANDS-1
			============================================= -->
			<div id="brands-1" class="py-80 brands-section">
				<div class="container">	


					<!-- BRANDS TITLE -->
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="brands-title mb-50">
								<h5 class="s-20">Nos Partenaires</h5>
							</div>
						</div>
					</div>


					<!-- BRANDS CAROUSEL -->				
					<div class="row">
						<div class="col text-center">	
							<div class="owl-carousel brands-carousel-5">
					
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/Neauvaeu Logo Lumya vertical.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/kimi mag.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/JENGI.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/Gravity Variation.svg' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/GTTC.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

													
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/akamasoft.jpg' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>


								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/ARINTECH.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>

															
								<!-- BRAND LOGO IMAGE -->
								<div class="brand-logo">
									<a href="#"><img class="img-fluid light-theme-img" src="{% static 'images/sai-fu.png' %}" width="196px" height="64px" alt="brand-logo"></a>
								</div>


							</div>	
						</div>
					</div>  <!-- END BRANDS CAROUSEL -->


				</div>	<!-- End container -->
			</div>	<!-- END BRANDS-1 -->


				</div>	<!-- End container -->
			</div>	<!-- END BRANDS-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">


            <!-- BLOG-1
			============================================= -->
			<section id="blog-1" class="py-100 blog-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-10 col-lg-9">
							<div class="section-title mb-70">	

								<!-- Title -->	
								<h2 class="s-50 w-700">Nos Articles</h2>	

								<!-- Text -->										
							</div>	
						</div>
					</div>


					<div class="row">

						{% for article in articles %}
						<!-- BLOG POST #1 -->
				 		<div class="col-md-6 col-lg-4">
				 			<div id="bp-1-1" class="blog-post wow fadeInUp">	
				 				<!-- BLOG POST IMAGE -->
				 				<div class="blog-post-img mb-35">
									{% for image in article.itemimage_set.all %}
										{% if forloop.counter == 1 %}
									<img class="img-fluid r-16" src="{{ image.image.url }}" alt="blog-post-image">
										{% endif %}
									{% endfor %}
								</div>	

								<!-- BLOG POST TEXT -->
								<div class="blog-post-txt">

									<!-- Post Tag -->
									<span class="post-tag color--{{ article.categorie.couleur }}-400">{{ article.categorie }}</span>	

									<!-- Post Link -->
									<h6 class="s-20 w-700">
										<a href="{{ article.get_absolute_url }}">{{ article.title }}</a>
									</h6>

									<!-- Text -->
									<p>{{ article.content | truncatechars:30 }}
									</p>

									<!-- Post Meta -->
									<div class="blog-post-meta mt-20">
										<ul class="post-meta-list ico-10">
											<li><p class="p-sm w-500">Par {{ article.author }}</p></li>
											<li class="meta-list-divider"><p><span class="flaticon-minus"></span></p></li>
											<li><p class="p-sm">{{ article.date_posted | date:'d M Y' }}</p></li>
										</ul>
									</div>

								</div>	<!-- END BLOG POST TEXT -->

				 			</div>
				 		</div>	<!-- END BLOG POST #1 -->
						{% endfor %}
				
				 	</div>    <!-- End row -->
				 </div>    <!-- End container -->
			</section>	<!-- END BLOG-1 -->




			<!-- DIVIDER LINE -->
			<hr class="divider">
{% endblock %}