{% extends 'base.html' %}
{% load static %}

{%block title %} Nos services {% endblock %}

{% block central %}
   <!-- FEATURES-11
			============================================= -->
			<section id="features-11" class="py-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-12 col-lg-12">
							<div class="section-title mb-70">

								<!-- Title -->	
								<h2 class="s-50 w-700">Nos Services Informatique</h2>	
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-11 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-1 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphics color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Conseil en informatique et stratégie technologique </h6>
										<p>Analyse des besoins informatiques, élaboration de stratégies technologiques, planification d'infrastructures informatiques, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-2 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-idea color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Développement de logiciels sur mesure  </h6>
										<p>Conception, développement et intégration de logiciels spécifiques aux besoins des clients, y compris des applications web, mobiles, d'entreprise, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-3 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphic color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Maintenance et support informatique </h6>
										<p>Fourniture de services de maintenance préventive, de dépannage, de gestion de réseaux, de mises à jour et de correctifs logiciels, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-4 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-wireframe color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Développement web et e-commerce </h6>
										<p>Conception et développement de sites web, de plateformes de commerce électronique, de portails intranet/extranet, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #4 -->	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-5 wow fadeInUp">

									<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-trophy color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Services de développement d'applications mobiles </h6>
										<p>Conception et développement d'applications mobiles pour diverses plateformes, y compris iOS et Android.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #5 -->	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-6 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-search-engine-1 color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Formation et support utilisateur </h6>
										<p>Fourniture de formations sur les logiciels et les outils informatiques, ainsi que de support technique pour les utilisateurs finaux.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #6 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-11 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-11 -->
</section>

 <!-- FEATURES-11
			============================================= -->
			<section id="features-11" class="py-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-12 col-lg-12">
							<div class="section-title mb-70">

								<!-- Title -->	
								<h2 class="s-50 w-700">Service D’Infographie</h2>	
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-11 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-1 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphics color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Conception de graphiques et d'illustrations </h6>
										<p>Création de graphiques personnalisés, d'illustrations vectorielles et de schémas pour une variété d'utilisations, comme la communication d'informations complexes ou la présentation de données.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-2 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-idea color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Animation et motion design </h6>
										<p>Réalisation d'animations graphiques, de présentations animées et de contenus interactifs pour une communication visuelle dynamique.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-3 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphic color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Design d'interfaces utilisateur (UI) </h6>
										<p>Création d'éléments visuels pour les interfaces utilisateur graphiques, telles que les applications mobiles, les logiciels, les sites web, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-4 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-wireframe color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Design de présentations</h6>
										<p>Création de supports visuels percutants pour les présentations professionnelles, les rapports marketing ou les supports de communication d'entreprise.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #4 -->	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-5 wow fadeInUp">

									<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-trophy color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Visualisation de données </h6>
										<p>Développement de graphiques et de visualisations de données pour rendre les informations complexes plus accessibles et compréhensibles.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #5 -->	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-6 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-search-engine-1 color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Design de matériel promotionnel </h6>
										<p>Création d'éléments visuels pour les brochures, les dépliants, les affiches, les bannières publicitaires et autres supports promotionnels.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #6 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-11 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-11 -->
</section>

<!-- FEATURES-11
			============================================= -->
			<section id="features-11" class="py-100 features-section division">
				<div class="container">


					<!-- SECTION TITLE -->	
					<div class="row justify-content-center">	
						<div class="col-md-12 col-lg-12">
							<div class="section-title mb-70">

								<!-- Title -->	
								<h2 class="s-50 w-700">Service De Communication Digitale </h2>	
									
							</div>	
						</div>
					</div>


					<!-- FEATURES-11 WRAPPER -->
					<div class="fbox-wrapper">
						<div class="row row-cols-1 row-cols-md-2 rows-3">


							<!-- FEATURE BOX #1 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-1 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphics color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Gestion des médias sociaux </h6>
										<p>Création, gestion et optimisation de la présence sur les plateformes de médias sociaux, engagement de la communauté, analyse des données, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #1 -->	


		 					<!-- FEATURE BOX #2 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-2 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-idea color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Création de contenu numérique : </h6>
										<p>Développement de contenus numériques de haute qualité, y compris des articles, des infographies, des vidéos, des podcasts, des présentations, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #2 -->	


		 					<!-- FEATURE BOX #3 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-3 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-graphic color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Publicité en ligne </h6>
										<p>Gestion de campagnes publicitaires sur les moteurs de recherche (SEA), sur les réseaux sociaux, sur des bannières publicitaires, etc.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #3 -->	


		 					<!-- FEATURE BOX #4 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-4 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-wireframe color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Marketing d'influence </h6>
										<p>Identification et collaboration avec des influenceurs pour promouvoir des produits ou des services via des canaux numériques.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #4 -->	


		 					<!-- FEATURE BOX #5 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-5 wow fadeInUp">

									<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-trophy color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">E-commerce et marketing en ligne </h6>
										<p>Mise en place de plates-formes de commerce électronique, optimisation des taux de conversion, et stratégies de promotion des ventes en ligne.</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #5 -->	


		 					<!-- FEATURE BOX #6 -->
		 					<div class="col">
		 						<div class="fbox-11 fb-6 wow fadeInUp">

		 							<!-- Icon -->
		 							<div class="fbox-ico-wrap">
		 								<div class="fbox-ico ico-50">
		 									<div class="shape-ico">

												<!-- Vector Icon -->
												<span class="flaticon-search-engine-1 color--theme"></span>

												<!-- Shape -->
												<svg viewBox="0 0 200 200" xmlns="http://www.w3.org/2000/svg">
												  <path fill="#f4f9fc" d="M69.8,-23C76.3,-2.7,57.6,25.4,32.9,42.8C8.1,60.3,-22.7,67,-39.1,54.8C-55.5,42.7,-57.5,11.7,-48.6,-11.9C-39.7,-35.5,-19.8,-51.7,5.9,-53.6C31.7,-55.6,63.3,-43.2,69.8,-23Z" transform="translate(100 100)" />
												</svg>

											</div>
		 								</div>
									</div>	<!-- End Icon -->

									<!-- Text -->
									<div class="fbox-txt">
										<h6 class="s-22 w-700">Stratégie de communication omni canal </h6>
										<p>Intégration de la communication sur tous les canaux numériques (web, mobile, médias sociaux, etc.) pour une cohérence et une efficacité maximale.
										</p>
									</div>

		 						</div>
		 					</div>	<!-- END FEATURE BOX #6 -->	


						</div>  <!-- End row -->  
					</div>	<!-- END FEATURES-11 WRAPPER -->


				</div>     <!-- End container -->
			</section>	<!-- END FEATURES-11 -->
</section>
{% endblock %}